footer.footer
	.footer__wrap
		section.footer__top.footer-top
			.footer-top__wrap
				+navigation('footer-top__nav', ['Главная', 'Блог', 'Контакты'], 1)
				.footer-top__btn
					| Обратная связь

		section.footer__center.footer-center
			.footer-center__wrap
				| footer__center
		section.footer__bottom.footer-bottom
			.footer-bottom__wrap
				| footer__bottom